In [1]:
import os
import sys
sys.path.append('../')

import pandas as pd
import core.config as conf

In [2]:
path = conf.dataset_path

In [3]:
df = pd.read_csv(f'{path}' + 'ratings.csv')

In [4]:
df['rating'].unique()

array([5, 3, 4, 1, 2])

In [5]:
df.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [6]:
df['binary_rating'] = df['rating'].apply(lambda x : 1 if x >= 4 else 0)

In [7]:
df = df.drop('rating', axis = 1)

In [8]:
df.head()

   book_id  user_id  binary_rating
0        1      314              1
1        1      439              0
2        1      588              1
3        1     1169              1
4        1     1185              1

In [9]:
df.to_csv(path + 'binary_ratings.csv', index = False)