In [1]:
import os
import sys
sys.path.append('../')

from sklearn.model_selection import train_test_split
import pandas as pd

import core.config as conf

In [2]:
path = conf.dataset_path

In [3]:
df = pd.read_csv(f'{path}' + 'binary_ratings.csv')

In [4]:
df = df.dropna()

In [5]:
user_info = df['binary_rating'].groupby(df['user_id']).mean().to_frame()
user_info = user_info.reset_index()

In [6]:
user_info.columns = ["user_id", "user_mean_rating"]

In [7]:
read_book_lst = df.groupby('user_id')['book_id'].apply(list)

In [8]:
read_book_lst

user_id
1                                       [1180, 4893, 6285]
2                                       [8034, 8855, 9762]
3                                             [9014, 9049]
4                                       [3273, 3469, 8464]
5                           [4829, 6646, 6703, 7487, 8072]
                               ...
53420                 [4086, 4625, 5651, 6538, 9149, 9171]
53421     [6076, 7278, 8194, 8513, 9254, 9334, 9498, 9727]
53422    [1780, 1904, 2110, 2300, 2712, 3424, 3960, 407...
53423                                         [4984, 8712]
53424    [1109, 3602, 4214, 4483, 5301, 6455, 7212, 750...
Name: book_id, Length: 53424, dtype: object

In [9]:
user_info = pd.merge(user_info, read_book_lst, on='user_id')

In [15]:
user_info

,user_id,user_mean_rating,book_id
0,1,0.666667,"[1180, 4893, 6285]"
1,2,1.000000,"[8034, 8855, 9762]"
2,3,0.000000,"[9014, 9049]"
3,4,0.666667,"[3273, 3469, 8464]"
4,5,0.800000,"[4829, 6646, 6703, 7487, 8072]"
...,...,...,...
53419,53420,0.333333,"[4086, 4625, 5651, 6538, 9149, 9171]"
53420,53421,1.000000,"[6076, 7278, 8194, 8513, 9254, 9334, 9498, 9727]"
53421,53422,0.888889,"[1780, 1904, 2110, 2300, 2712, 3424, 3960, 407..."
53422,53423,1.000000,"[4984, 8712]"
53423,53424,0.937500,"[1109, 3602, 4214, 4483, 5301, 6455, 7212, 750..."

In [14]:
user_info.to_csv(path +'user_info.csv', index = False)