In [1]:
import os
import sys
sys.path.append('../../')

import xgboost as xgb
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import xgboost as xgb
import joblib

import core.config as conf

## Preprocessing

In [2]:
path = conf.dataset_path

In [3]:
book_df = pd.read_csv(f'{path}'+'books.csv')

In [4]:
rating_df = pd.read_csv(f'{path}' + 'binary_ratings.csv')

In [5]:
df = pd.merge(book_df, rating_df, how='right', on='book_id')

In [6]:
user_mean_rating = rating_df['binary_rating'].groupby(rating_df['user_id']).mean().to_frame()
user_mean_rating = user_mean_rating.reset_index()

In [7]:
user_mean_rating.columns = ["user_id", "user_mean_rating"]

In [8]:
df = pd.merge(df, user_mean_rating, how='left', on = 'user_id')

In [9]:
df = df.dropna()

In [10]:
one_hot = OneHotEncoder()
encoded = one_hot.fit_transform(df[['language_code']])

In [11]:
df[one_hot.categories_[0]] = encoded.toarray()

In [12]:
df = df.drop(conf.dont_used_features, axis = 1)

## Recommend top 10 books

In [13]:
user_id = 314

In [14]:
df[df['user_id'] == 314]

,book_id,books_count,original_publication_year,average_rating,ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,user_id,binary_rating,user_mean_rating,en-CA,en-GB,en-US,eng,fre,spa
0,1,275.0,2005.0,4.54,1678823.0,27520.0,7308.0,21516.0,136333.0,459028.0,1161491.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
200,3,491.0,1997.0,4.44,4602479.0,75867.0,75504.0,101676.0,455024.0,1156318.0,3011543.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
400,5,376.0,1999.0,4.53,1832823.0,36099.0,6716.0,20413.0,166129.0,509447.0,1266670.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
501,6,332.0,2000.0,4.53,1753043.0,31084.0,6676.0,20210.0,151785.0,494926.0,1195045.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
2800,29,28.0,1990.0,3.95,24133.0,1993.0,333.0,1280.0,6050.0,10985.0,8303.0,314,0,0.574586,0.0,0.0,1.0,0.0,0.0,0.0
2900,30,74.0,1973.0,4.59,90907.0,1565.0,826.0,1281.0,5819.0,19982.0,66440.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
9700,98,45.0,1989.0,3.86,10807.0,784.0,359.0,816.0,3301.0,4586.0,4185.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
10400,105,72.0,1985.0,3.89,34822.0,552.0,676.0,2612.0,9170.0,12496.0,12201.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
10501,106,140.0,1969.0,3.86,82580.0,2283.0,1026.0,5333.0,23541.0,36242.0,24290.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
34200,343,364.0,1985.0,4.00,178135.0,10057.0,5659.0,12862.0,41804.0,78658.0,83771.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
34700,348,75.0,1957.0,4.00,15298.0,829.0,132.0,745.0,4180.0,6964.0,6007.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
42698,428,35.0,1970.0,3.86,17411.0,1440.0,321.0,1263.0,4385.0,7114.0,5364.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
75898,760,165.0,2004.0,3.59,33534.0,3018.0,1379.0,4851.0,16568.0,17933.0,9554.0,314,1,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
97498,976,180.0,2001.0,3.67,455610.0,7798.0,14380.0,45006.0,143182.0,160819.0,116346.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
205177,2054,152.0,1953.0,4.23,22503.0,1509.0,123.0,514.0,3745.0,9786.0,10749.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0
614743,6174,134.0,1947.0,4.28,25625.0,1182.0,354.0,802.0,4436.0,11061.0,16148.0,314,0,0.574586,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
user_read_books = set(df[df['user_id'] == 314]['book_id'].values)

In [16]:
user_read_books

{1, 3, 5, 6, 29, 30, 98, 105, 106, 343, 348, 428, 760, 976, 2054, 6174}

In [17]:
book_lst = set(book_df['book_id'].values)

In [18]:
book_lst

{1,
 2,
 3,
 32769,
 5,
 6,
 3407877,
 2195464,
 196613,
 8,
 11,
 10,
 13,
 7766027,
 3080212,
 21,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 6357022,
 10813469,
 33,
 34,
 1736739,
 36,
 294951,
 32807,
 426025,
 10813480,
 32812,
 426030,
 50,
 131123,
 294963,
 229432,
 32827,
 32829,
 32831,
 688191,
 26771521,
 67,
 1474628,
 65605,
 1048645,
 15728721,
 262228,
 262229,
 16056408,
 93,
 65633,
 98,
 98405,
 65641,
 106,
 105,
 721003,
 17465453,
 98413,
 21856367,
 112,
 360562,
 721012,
 7864437,
 117,
 119,
 122,
 98427,
 15827066,
 17465470,
 10846336,
 6553733,
 163977,
 8519822,
 65684,
 20316309,
 6422680,
 589979,
 196764,
 32929,
 327847,
 17465515,
 295086,
 16122034,
 11337912,
 15990969,
 7831742,
 11010251,
 32979,
 491735,
 1081560,
 32987,
 295132,
 17334495,
 231,
 131304,
 7307503,
 24903919,
 655601,
 24019187,
 249,
 250,
 9666812,
 295169,
 12812550,
 264,
 98573,
 13041934,
 6390031,
 275,
 15728921,
 12288282,
 262430,
 131359,
 23363874,
 11600163,
 8683812,
 291,
 295,
 65840,
 304,
 16122163,
 459064,
 164154,
 320,
 1409344,
 9961796,
 13369678,
 13402447,
 26116430,
 10256723,
 11665750,
 343,
 196951,
 23363928,
 348,
 350,
 353,
 355,
 357,
 359,
 360,
 196970,
 6619499,
 365,
 65910,
 33144,
 7078265,
 378,
 22544764,
 98685,
 98687,
 7176578,
 386,
 7897478,
 295305,
 400,
 262545,
 65948,
 415,
 6488483,
 3047848,
 3047849,
 3047850,
 3047851,
 424,
 428,
 3342764,
 431,
 432,
 11239856,
 12157365,
 446,
 447,
 449,
 8487363,
 4653511,
 456,
 26214866,
 819667,
 475,
 197084,
 12878300,
 7930335,
 164323,
 13042154,
 852460,
 852470,
 98807,
 426504,
 33293,
 22151696,
 7307795,
 7897620,
 688663,
 11076123,
 16056862,
 33313,
 9798177,
 13533740,
 7701043,
 33333,
 7963189,
 33335,
 9962040,
 11469379,
 7963208,
 262731,
 33356,
 24445517,
 11076177,
 597,
 599,
 18285151,
 9503336,
 98920,
 15729261,
 621,
 1999475,
 230003,
 629,
 361081,
 459386,
 20578940,
 426625,
 647,
 8356487,
 33418,
 10551947,
 656,
 33426,
 662,
 665,
 667,
 668,
 6193821,
 33441,
 33443,
 676,
 6324903,
 33449,
 8520362,
 33453,
 33454,
 33455,
 33456,
 33457,
 33458,
 164531,
 33459,
 25526965,
 698,
 164542,
 703,
 706,
 590552,
 295649,
 33507,
 2458340,
 33512,
 33514,
 131830,
 760,
 771,
 6193923,
 3474186,
 33547,
 15762186,
 99085,
 22381326,
 16122643,
 426775,
 7701275,
 1278752,
 33569,
 99107,
 99110,
 99111,
 816,
 66354,
 822,
 823,
 825,
 827,
 197436,
 830,
 33600,
 66370,
 25494343,
 840,
 426825,
 33609,
 12878667,
 25690958,
 197457,
 197459,
 865,
 870,
 164719,
 880,
 164723,
 11797365,
 1966969,
 890,
 9995135,
 15729539,
 33668,
 900,
 902,
 903,
 99208,
 197512,
 263050,
 33676,
 99218,
 99219,
 295834,
 20874139,
 930,
 8520610,
 12551077,
 66470,
 99245,
 20317106,
 952,
 33722,
 33723,
 33724,
 33726,
 33727,
 960,
 33729,
 33732,
 968,
 976,
 1967070,
 17302495,
 99296,
 99297,
 99298,
 99300,
 164836,
 998,
 263145,
 7144426,
 263147,
 263148,
 1005,
 33770,
 23692271,
 885744,
 13435889,
 263149,
 361459,
 99315,
 394228,
 6587387,
 66559,
 99329,
 263171,
 263172,
 263173,
 1032,
 263179,
 21857294,
 33808,
 10552338,
 33810,
 12977172,
 33813,
 295961,
 754713,
 24937499,
 1052,
 33820,
 8389671,
 12583975,
 1067,
 820273,
 1078,
 99383,
 132152,
 1097,
 1103,
 6063187,
 3015764,
 1110,
 25953369,
 28214365,
 66655,
 328802,
 22840421,
 33896,
 4162673,
 33906,
 13337715,
 13337716,
 66676,
 66678,
 11830394,
 66683,
 6751356,
 33917,
 99452,
 66692,
 66693,
 33926,
 66695,
 99461,
 6718608,
 1171,
 11699349,
 328854,
 9634967,
 6749,
 165030,
 1191,
 1192,
 820394,
 525488,
 1202,
 11568316,
 296125,
 165053,
 27362503,
 328907,
 9897164,
 787660,
 1232,
 1241,
 132314,
 17237214,
 15762657,
 394469,
 13206760,
 99561,
 132336,
 1274,
 820480,
 34053,
 918789,
 34057,
 1295,
 1301,
 23168277,
 1303,
 34072,
 1305,
 99610,
 17925397,
 234724,
 1307,
 10421530,
 34080,
 13010211,
 34084,
 820517,
 394535,
 1319,
 66857,
 132391,
 13206828,
 886066,
 2753843,
 12813630,
 22381892,
 296264,
 99664,
 1362,
 17204568,
 1371,
 7046495,
 1375,
 11306337,
 1381,
 623976,
 296298,
 296302,
 17401198,
 13206900,
 66933,
 7800188,
 99713,
 7243142,
 1420,
 6686092,
 12846479,
 1426,
 1427,
 1428,
 4588949,
 1430,
 1431,
 6686101,
 8652190,
 15795628,
 27821486,
 13272498,
 15730101,
 23299512,
 18711993,
 6489529,
 394683,
 22054340,
 17171909,
 13436373,
 34262,
 67035,
 34268,
 21956060,
 6587879,
 22021611,
 1519,
 5604848,
 1524,
 34295,
 132609,
 5899779,
 1540,
 34310,
 34312,
 16090636,
 12191246,
 13239822,
 12158480,
 1554,
 165395,
 394772,
 8554005,
 25855506,
 1672727,
 132626,
 9307674,
 15762975,
 12813860,
 12027429,
 99894,
 1591,
 13600318,
 2983489,
 2033217,
 5047880,
 18089551,
 132688,
 1617,
 1618,
 6948436,
 1622,
 1624,
 1625,
 394841,
 1627,
 1633,
 17794657,
 1635,
 25527908,
 3147367,
 99944,
 17860199,
 99955,
 21530229,
 6424184,
 17860217,
 17204860,
 657034,
 2983562,
 7997069,
 34451,
 34452,
 1902241,
 1476261,
 67238,
 9635495,
 132778,
 10127019,
 525995,
 1715,
 34484,
 198331,
 34492,
 198332,
 34494,
 34497,
 34498,
 34499,
 34501,
 34502,
 1279686,
 34504,
 34503,
 34506,
 34507,
 2033352,
 34508,
 34510,
 34511,
 9864913,
 34517,
 296662,
 3475161,
 820956,
 34527,
 34529,
 34532,
 34534,
 2983654,
 15828714,
 2197227,
 34541,
 886512,
 15861491,
 34548,
 6457081,
 1541884,
 460548,
 821000,
 821003,
 1050383,
 1823,
 1824,
 132900,
 7636774,
 8619814,
 34605,
 23168817,
 1842,
 7505716,
 1845,
 1846,
 1848,
 1849,
 1852,
 821056,
 3475268,
 9635657,
 1869,
 395090,
 1875,
 460635,
 1885,
 16090981,
 1897,
 1898,
 5048174,
 198511,
 1911,
 6555517,
 6457229,
 1934,
 493455,
 493456,
 427920,
 9799572,
 100247,
 133017,
 1953,
 18089900,
 460717,
 395182,
 6621101,
 722864,
 9832370,
 67513,
 8456124,
 1990,
 34760,
 2754510,
 6686671,
 22611920,
 2002,
 395220,
 6621143,
 657371,
 264158,
 395233,
 100322,
 3213286,
 2918374,
 12716010,
 296942,
 18089975,
 20318201,
 11995136,
 2049,
 2050,
 2052,
 2054,
 428042,
 2230284,
 100365,
 2067,
 2068,
 2295829,
 3344411,
 12617758,
 7735333,
 13109291,
 8685612,
 2094,
 2095,
 5310515,
 34871,
 3115070,
 9439303,
 67657,
 2122,
 18090061,
 34897,
 34898,
 2137,
 7145565,
 2142,
 14288998,
 34919,
 8357992,
 2152,
 6621287,
 2156,
 2159,
 100464,
 3934321,
 16124019,
 2165,
 133241,
 6752378,
 100476,
 34941,
 2175,
 17860739,
 2183,
 231560,
 231562,
 2187,
 133266,
 17565845,
 2199,
 6654104,
 2203,
 11765920,
 231585,
 18090147,
 10193062,
 18090150,
 34988,
 297134,
 297135,
 17729712,
 34993,
 231604,
 21104828,
 428223,
 2255,
 24709327,
 198863,
 166101,
 2265,
 592089,
 23398625,
 297186,
 6818019,
 428263,
 2279,
 1116393,
 854252,
 16058610,
 7932146,
 6260997,
 9275658,
 133394,
 67863,
 35100,
 297249,
 985386,
 18680106,
 35125,
 18712886,
 133430,
 19138879,
 2368,
 13568322,
 2371,
 2372,
 2373,
 133445,
 67920,
 67931,
 28477789,
 20613470,
 22055262,
 6654313,
 821611,
 133486,
 22055280,
 133488,
 22055283,
 231804,
 2430,
 2442,
 6359434,
 35210,
 231821,
 133518,
 7801229,
 25332115,
 35220,
 133526,
 23398806,
 35231,
 887201,
 35233,
 231850,
 10586539,
 17402288,
 2820533,
 2493,
 22874559,
 625094,
 16061295,
 2517,
 15796700,
 2526,
 2528,
 2530,
 2547,
 8686068,
 13502963,
 3410425,
 13502970,
 1149440,
 68099,
 35332,
 14060046,
 6687247,
 17336849,
 24480276,
 6261270,
 35354,
 15993374,
 133664,
 12880428,
 68143,
 15698479,
 23398961,
 100915,
 2612,
 231989,
 2615,
 1215032,
 25430584,
 100924,
 2623,
 17828418,
 12716613,
 100933,
 264778,
 395851,
 920143,
 395871,
 2657,
 133729,
 5212771,
 395875,
 24611425,
 35430,
 8718952,
 2666,
 13568619,
 2722413,
 23399022,
 68210,
 2677,
 17926775,
 24611454,
 20613761,
 133765,
 13503109,
 133767,
 2696,
 6326920,
 395922,
 6589074,
 35476,
 11864728,
 2715,
 297627,
 35488,
 166562,
 232109,
 690866,
 166580,
 2743,
 2744,
 395962,
 232123,
 2748,
 35519,
 297673,
 20646604,
 2767,
 232145,
 35539,
 2784,
 9833184,
 854757,
 6261477,
 101094,
 2794,
 17402605,
 690926,
 9439989,
 2296567,
 2198274,
 690955,
 13601550,
 592657,
 6261522,
 5933841,
 133906,
 559889,
 7736086,
 2839,
 68378,
 68380,
 20613920,
 14781219,
 21400356,
 10816297,
 68396,
 2865,
 2872,
 2873,
 1215290,
 428862,
 2879,
 2880,
 297792,
 68418,
 133954,
 10357575,
 10324808,
 68427,
 68428,
 68429,
 11045709,
 232268,
 7146335,
 789344,
 2915,
 68452,
 68453,
 6916963,
 68455,
 68458,
 18221931,
 199530,
 199532,
 199531,
 21531503,
 11996019,
 2932,
 7736182,
 101249,
 68483,
 68487,
 68488,
 101255,
 2956,
 68494,
 68496,
 35729,
 68497,
 625554,
 25693079,
 35743,
 2978,
 21433251,
 68520,
 68521,
 953260,
 68524,
 68526,
 68527,
 68528,
 68530,
 101299,
 1248179,
 68531,
 2998,
 12389310,
 3008,
 625603,
 3028,
 35805,
 429024,
 330721,
 1051620,
 35816,
 ...}

In [19]:
user_not_read_books = book_lst - user_read_books

In [20]:
rec_df = book_df

In [21]:
df.columns

Index(['book_id', 'books_count', 'original_publication_year', 'average_rating',
       'ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2',
       'ratings_3', 'ratings_4', 'ratings_5', 'user_id', 'binary_rating',
       'user_mean_rating', 'en-CA', 'en-GB', 'en-US', 'eng', 'fre', 'spa'],
      dtype='object')

In [22]:
rec_df.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [23]:
user_not_read_books = book_lst - user_read_books

In [24]:
rec_df['binary_rating'] = -1

In [25]:
rec_df['user_mean_rating'] = df[df['user_id'] == user_id]['user_mean_rating'][0]

In [26]:
rec_df = rec_df.dropna()

In [27]:
language_lst = ['en-CA', 'en-GB', 'en-US', 'eng', 'fre', 'spa']

In [28]:
rec_df = rec_df.drop(rec_df[~rec_df['language_code'].isin(language_lst)].index)

In [29]:
rec_df['language_code'].unique()

array(['eng', 'en-US', 'en-CA', 'spa', 'en-GB', 'fre'], dtype=object)

In [30]:
encoded = one_hot.transform(rec_df[['language_code']])

In [31]:
rec_df[one_hot.categories_[0]] = encoded.toarray()

In [42]:
rec_df = rec_df.drop(conf.dont_used_features, axis = 1)

In [54]:
col_x = rec_df.columns
col_x = col_x.drop('binary_rating')

In [55]:
book_df.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url', 'user_id', 'binary_rating', 'user_mean_rating'],
      dtype='object')

In [56]:
rec_df.columns

Index(['book_id', 'books_count', 'original_publication_year', 'average_rating',
       'ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2',
       'ratings_3', 'ratings_4', 'ratings_5', 'user_id', 'binary_rating',
       'user_mean_rating', 'en-CA', 'en-GB', 'en-US', 'eng', 'fre', 'spa'],
      dtype='object')

In [57]:
dpred = xgb.DMatrix(data = rec_df[col_x])

In [37]:
model = joblib.load(conf.model_path+conf.model_name)

In [59]:
y_pred = model.predict(dpred)

In [92]:
recommend_lst = pd.DataFrame(rec_df['book_id'])

In [102]:
recommend_lst = pd.merge(recommend_lst, book_df[['book_id', 'title']], on= 'book_id')

In [103]:
recommend_lst['pred'] = y_pred

In [117]:
recommend_lst.sort_values(by=['pred'], ascending=False, axis=0).head(10)

      book_id      pred                                              title
2492     5344  0.867610                                         Hard Times
26          1  0.863471  Harry Potter and the Half-Blood Prince (Harry ...
5557      250  0.860365                                Tropic of Capricorn
52         11  0.853773  The Hitchhiker's Guide to the Galaxy (Hitchhik...
5205     2872  0.845988                                     Falling Angels
837       870  0.840194  Fullmetal Alchemist, Vol. 1 (Fullmetal Alchemi...
4268      359  0.835942              The Salmon of Doubt (Dirk Gently, #3)
6998     4599  0.831202                             Carter Beats the Devil
141      2865  0.829108                          Girl with a Pearl Earring
4866     5289  0.828172                      Complete Works of Oscar Wilde

In [120]:
rec_top10 = recommend_lst.sort_values(by=['pred'], ascending=False, axis=0)['book_id'].values[:10]

In [122]:
for idx, book in enumerate(rec_top10) :
    print(f"rank {idx+1} : ", book)

rank 1 :  5344
rank 2 :  1
rank 3 :  250
rank 4 :  11
rank 5 :  2872
rank 6 :  870
rank 7 :  359
rank 8 :  4599
rank 9 :  2865
rank 10 :  5289

In [114]:
user_read_books

{1, 3, 5, 6, 29, 30, 98, 105, 106, 343, 348, 428, 760, 976, 2054, 6174}

## Popular top10

In [15]:
ratings_df = pd.read_csv(conf.dataset_path + 'binary_ratings.csv')

In [17]:
book_df = pd.read_csv(conf.dataset_path + 'books.csv')

In [19]:
book_ratings = ratings_df['binary_rating'].groupby(ratings_df['book_id']).sum().to_frame()

In [22]:
book_ratings = pd.merge(book_ratings, book_df[['book_id', 'title']], on = 'book_id')

In [23]:
book_ratings.sort_values(by=['binary_rating'], ascending=False)

     book_id  binary_rating                                              title
769     9566             97                         Still Life with Woodpecker
291     3885             95                         The Taste of Home Cookbook
354     4708             94                           The Beautiful and Damned
206     2767             93            A People's History of the United States
771     9569             92                                    Villa Incognito
..       ...            ...                                                ...
728     8960             26             Vampire Mountain (Cirque Du Freak, #4)
789     9762             23  Loving What Is: Four Questions That Can Change...
579     6819             22                                       Ghostwritten
304     4009             21                                       Nine Stories
678     7980             18                      Pearls of Lutra (Redwall, #9)

[812 rows x 3 columns]

In [27]:
rec_pop_top10 = book_ratings.sort_values(by=['binary_rating'], ascending=False, axis=0)['title'].values[:10]

In [29]:
for idx, book in enumerate(rec_pop_top10) :
    print(f"rank {idx+1} : ", book)

rank 1 :  Still Life with Woodpecker
rank 2 :  The Taste of Home Cookbook
rank 3 :  The Beautiful and Damned
rank 4 :  A People's History of the United States
rank 5 :  Villa Incognito
rank 6 :  The Lost Boy (Dave Pelzer #2)
rank 7 :  Franny and Zooey
rank 8 :  Girl with a Pearl Earring
rank 9 :  Hard Times
rank 10 :  The Last Juror