In [1]:
import os
import sys
sys.path.append('../')

from sklearn.model_selection import train_test_split
import pandas as pd

import core.config as conf

In [2]:
path = conf.dataset_path

In [3]:
df = pd.read_csv(f'{path}' + 'binary_ratings.csv')

In [4]:
df = df.dropna()

In [5]:
book_rating = df[df['binary_rating'] == 1].groupby(df['book_id']).count()['binary_rating'].to_frame()

In [8]:
book_rating['total_no_rating'] = df[df['binary_rating'] == 0].groupby(df['book_id']).count()['binary_rating'].to_frame()

In [9]:
book_rating['aveage_rating'] = df['binary_rating'].groupby(df['book_id']).mean().to_frame()

In [10]:
book_rating.columns = ["total_rating", "total_no_rating", "total_average_rating"]

In [15]:
book_rating.to_csv(path +'book_ratings_info.csv')

In [16]:
book_rating

         total_rating  total_no_rating  average_rating
book_id
1                  84               16        0.840000
2                  83               17        0.830000
3                  43               57        0.430000
4                  85               15        0.850000
5                  68               32        0.680000
...               ...              ...             ...
9996               72               26        0.734694
9997               82                7        0.921348
9998               80               15        0.842105
9999               59               40        0.595960
10000              73               23        0.760417

[10000 rows x 3 columns]

In [17]:
pd.read_csv(f'{path}' + 'book_ratings_info.csv')

      book_id  total_rating  total_no_rating  average_rating
0           1            84               16        0.840000
1           2            83               17        0.830000
2           3            43               57        0.430000
3           4            85               15        0.850000
4           5            68               32        0.680000
...       ...           ...              ...             ...
9995     9996            72               26        0.734694
9996     9997            82                7        0.921348
9997     9998            80               15        0.842105
9998     9999            59               40        0.595960
9999    10000            73               23        0.760417

[10000 rows x 4 columns]